* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}

.app {
  background-image: url('../public/images/cover.png');
  background-size: cover;
  transition: ease-out;
}

.app.clouds {
  background-image: url('../public/images/cloudy.png');
}
.app.snow{
  background-image: url('../public/images/snowy.png');
}
.app.clear{
  background-image: url('../public/images/sunny.png');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

